#player {
  width: 100%;
  height: 100%;
  position: relative;
  min-width: calc(100% - 300px);
}

#chat {
  height: 100%;
  width: 300px;
  min-width: 300px;
  max-width: 300px;
  position: relative;
  right: 0;
  border-top: 1px solid black;
}

#main-container {
  position: relative;
}

[data-player] {
  display: block !important;
  position: absolute !important;
  height: 100% !important;
  float: none !important;
  width: 100% !important;
}

[hidden] {
  display: none !important;
}

#spinner-container {
  background: #221F2A;
  display: flex;
  align-items: center;
  justify-content: center;
}