#main-container {
  background: black;
  display: flex;
  color: #dad8de;
  flex-direction: column;
  padding: 20px;
}

#buffer-length {
  max-width: 350px;
}

.quality-label {
  margin-left: -20px;
  margin-right: 20px;
}
