#main-container {
  background: #221F2A;
  display: flex;
  color: #dad8de;
  flex-direction: column;
  padding: 20px;
}

.custom-control {
  position: relative;
  display: flex;
  min-height: 1.5rem;
}
.custom-control-label {
  position: relative;
  margin-bottom: 0;
  vertical-align: top;
  font-size: 25px;
  padding-left: 0.75em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-control-label::before, .custom-control-label::after {
  top: 0 !important;
  width: 2rem !important;
  height: 2rem !important;
}