.channel-list-wrapper {
  overflow-y: auto;
  max-height: 100%;
  height: 100%;
  display: flex;
}

.channel-list {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.channel-item {
  cursor: pointer;
  padding: 5px;
  display: flex;
  flex: 25%;
  max-width: 25%;
  min-width: 250px;
  min-height: 250px;

  .channel-title,
  .channel-info,
  .channel-image {
    transition: color 0.4s ease, border-color 0.4s ease;
  }

  &:hover {
    .channel-title,
    .channel-info,
    .channel-image {
      color: #bf94ff;
      border-color: #bf94ff;
    }
  }
}

.channel-content {
  min-height: 100%;
  min-width: 100%;
  position: relative;
}

.channel-cover {
  width: 100%;
}

.channel-title {
  width: 100%;
  background: black;
  color: #dad8de;
  height: 25px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(24, 24, 27);
  border-bottom: none;

  span {
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.channel-image {
  border-left: 1px solid rgb(24, 24, 27);
  border-right: 1px solid rgb(24, 24, 27);
}

.channel-info {
  width: 100%;
  background: black;
  color: #dad8de;
  height: 22px;
  font-size: 18px;
  padding-left: 2px;
  padding-right: 2px;
  display: flex;
  flex: 1;
  justify-content: center;
  min-height: 75px;
  flex-direction: column;
  border: 1px solid rgb(24, 24, 27);
  border-top: none;

  .channel-description {
    display: flex;
    flex: 1;
    align-items: center;

    span {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-size: 16px;
      max-width: 500px;
    }
  }

  .channel-footer {
    display: flex;
    flex: 1;

    .channel-uptime {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .channel-viewers {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    span {
      height: 22px;
      display: flex;
      align-items: center;
      margin-right: 5px;
    }

    i {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}

.fetching-more {
  background: black;
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dad8de;
}
