<div infinite-scroll (scrolled)="onScrolled()" class="channel-list row">

  <div class="channel-item col-3" (click)="router.navigate(['/play/'+channel.channel._id])" *ngFor="let channel of channels">
    <div class="channel-title"><span>{{channel.channel.display_name}}</span></div>
    <div>
      <img class="channel-cover" src="{{ channel.preview.medium }}">
    </div>
    <div class="channel-info row">
      <div class="channel-uptime col-6"><span><span class="material-icons">schedule</span>{{channel.created_at | twTimeSince}}</span></div>
      <div class="channel-viewers col-6"><span><span class="material-icons">people</span>{{channel.viewers | number}}</span></div>
    </div>
  </div>

  <div class="fetching-more" [hidden]="!fetchingMore">
    <div clas="circle"></div>
  </div>
</div>