#main-container {
  background: #221f2a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dad8de;
}

.error-display {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.retry-button {
  background: #3a1f64;
  transition: background 0.4s;
  color: #dad8de;

  &:hover {
    background: #772ce8;
  }
}
