<div flex layout="column" layout-fill>
  <tw-toolbar (close)="closeWindow()" (maximize)="maximizeWindow()" (minimize)="minimizeWindow()" (collapse)="toggleSidebar()" (fullscreen)="enterFullscreen()"></tw-toolbar>

  <md-content class="content" flex layout="row" (dragover)="false" (dragend)="false" (drop)="false">

    <div flex="20" layout="column" id="sidebar" layout-fill @sbState="sidebarState">
      <tw-sidebar></tw-sidebar>
    </div>

    <div flex layout="column">
      <tw-spinner></tw-spinner>
      <tw-error></tw-error>
      <router-outlet></router-outlet>
    </div>

  </md-content>
</div>