<md-list>
  <h4 class="sidebar-header">BROWSE</h4>
  <md-divider></md-divider>
  <md-list-item class="sidebar-menu-item" (click)="router.navigate(['/games'])"><i md-icon  class="sidebar-icon">games</i>Games</md-list-item>
  <md-list-item class="sidebar-menu-item" (click)="router.navigate(['/channels/top'])"><i md-icon class="sidebar-icon">videocam</i>Channels</md-list-item>
</md-list>
  
<md-list [hidden]="!logued">
  <h4 class="sidebar-header">ONLINE FOLLOWS</h4>
  <md-divider></md-divider>
  <div class="sidebar-stream-item"
    *ngFor="let stream of onlineStreams"
    (click)="router.navigate(['/play/'+stream.channel._id])">
    <div flex layout="column" layout-fill>
      <div flex layout="row" class="sidebar-stream-item-inner" layout-fill>
        <img [src]="stream.channel.logo"/>
        <h3>{{stream.channel.display_name}}</h3>
      </div>
      <div class="sidebar-stream-item-description">{{stream.channel.game}}</div>
    </div>
  </div>
</md-list>