.login-container {
  background: black;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.login-form {
  max-height: 500px;
  min-height: 500px;
  min-width: 450px;
  max-width: 450px;
  padding: 30px;
  border: 1px solid rgb(24, 24, 27);
}

.login-display {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-height: 500px;
  min-width: 450px;
  max-width: 450px;
  padding: 30px;
  border: 1px solid rgb(24, 24, 27);
}

.logo {
  font-size: 100px;
}

.login-message {
  font-size: 24px;
}

.error-message {
  color: red;
}

button {
  color: #dad8de;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 25px;
  background: rgb(24, 24, 27);
  transition: background-color 0.4s;
  min-width: 100%;
  display: flex;
  justify-content: center;
  border: none;

  &:hover {
    color: #bf94ff;
  }
}

.login-logo {
  font-size: 130px;
}
