<div infinite-scroll (scrolled)="onScrolled()" flex layout="row" class="game-list" layout-fill layout-wrap layout-align="center start">

  <div class="game-item" flex="33" flex-gt-sm="25" flex-gt-md="20" layout="column" layout-align="center center"
    (click)="router.navigate(['/channels',{game: game}])"
    *ngFor="let game of games">
    <!-- <div class="game-title"><span>{{game.game.name}}</span></div> -->
    <div>
      <img class="game-cover" src="{{game.game.box.large}}">
    </div>
    <div class="game-viewers"><span><i md-icon>people</i>{{game.viewers | number}}</span></div>
  </div>

  <div class="fetching-more" [hidden]="!fetchingMore">
    <md-progress-circle color="accent" mode="indeterminate" [style.width]="'30px'"></md-progress-circle>
  </div>
</div>