.twitch-logo {
  fill: white;
  margin-right: 115px;
  min-height: 32px;
  min-width: 94px;
}

.toolbar {
  padding: 0px;
  max-height: 70px;
  height: 70px;
  width: 100%;
  background: rgb(24, 24, 27);
  color: #dad8de;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 2px 0px;
}

.toolbar-content {
  width: 100%;
  height: 50px;
}

.toolbar-topline {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  min-height: 20px;
  height: 20px;
  width: 100%;
  background: rgb(24, 24, 27);
  min-height: 20px;
  cursor: move;
  
  h1 {
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    width: 100%;
  }
  
  button {
    -webkit-app-region: no-drag;
  }
}

.toolbar span {
  color: #dad8de;
  font-size: 25px;
}

.toolbar-title {
  overflow: hidden;
  margin-left: 10px;
  text-align: left;
  margin-right: auto;
}

.toolbar-header{
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.two-rows {
  font-size:18px !important;
}

.toolbar-button {
  width: auto;
  cursor: pointer;
  height: 40px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: color 0.4s;
  border-width: 0px;
  background-color: transparent;
  font-size: 24px;

  &:hover {
    span {
      color: #bf94ff !important;
    }
  }
}

.menu-button {
  width: 50px;
  height: 50px;
  min-width: 50px;
  min-height: 50px;
  margin-left: 10px;
  margin-right: 10px;

  span {
    font-size: 36px;
  }
}

.login-button {
  display: inline-block;
  width: auto;
  color: #DAD8DE;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    transition: color 0.4s;
  }

  &:hover {
    span {
      color: #bf94ff;
    }
  }
}

.login-username {
  font-size: 20px !important;
}

.window-control {
  position: absolute;
  height: 20px;
  padding: 0px;
  margin: 0px;
  min-width: 40px;
  border-width: 0px;
  background: rgb(24, 24, 27);

  
  &:hover {
    span {
      color: #bf94ff;
    }
  }
}

.window-control span {
  font-size: 18px;
  position: relative;
  top: 0;
  left: 0;
  width: 40px;
  height: 20px;
}

.close-button {
  top: 0px;
  right: 0px;
}

.fullscreen-button {
  top: 0px;
  right: 40px;
}

.maximize-button {
  top: 0px;
  right: 80px;
}

.minimize-button {
  top: 0px;
  right: 120px;
}

.toolbar-subheader {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-icon {
  margin-left: auto;
}

.player-logo {
  max-height: 48px;
}

.player-username {
  color: #bf94ff !important;
  margin-right: 6px !important;
}

.player-game {
  color: #bf94ff !important;
  margin-left: 6px !important;
}

.player-viewers {
  float: right;
  margin-right: 10px;
  display: flex;
  align-items: center;

  i {
    color: red;
  }
}