.twitch-logo {
  fill: white;
  margin-right: 66px;
  min-height: 32px;
  min-width: 94px;
}

.toolbar {
  padding: 0px;
  max-height: 70px;
  height: 70px;
  width: 100%;
  background: #201c2b;
  color: #dad8de;
  border-bottom: 1px solid #2c2541;
}

.toolbar-content {
  width: 100%;
  height: 100%;
}

.toolbar-topline {
  -webkit-user-select: none;
  -webkit-app-region: drag;
  min-height: 20px;
  height: 20px;
  width: 100%;
  background: #201c2b;
  min-height: 20px;
  border-bottom: 1px solid #2c2541;
  cursor: move;
  
  h1 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    font-size: 12px;
    text-align: center;
  }
  
  button {
    -webkit-app-region: no-drag;
  }
}

.toolbar i {
  color: #dad8de;
}

.toolbar-title {
  width: 100%;
  overflow: hidden;
  margin-left: 10px;
}

.toolbar-header{
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toolbar-button {
  width: auto;
  cursor: pointer;
  height: 34px;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-right: 10px;
  transition: background 0.4s;

  &:hover {
    background: #7550b9;
  }
}

.menu-button {
  width: 34px;
  max-width: 34px;
  min-width: 34px;
}

.login-button {
  display: inline-block;
  width: auto;
  font-family: Moderna;
  color: #DAD8DE;
  cursor: pointer;
  transition: background 0.4s;
  margin-right: 10px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &:hover {
    background: #7550b9;
  }
}

.window-control {
  position: absolute;
  height: 20px;
  border-radius: 0px;
  padding: 0px;
  margin: 0px;
  background: #3A1F64;
  min-width: 40px;
  
  &:hover {
    background: #7550b9;
  }
}

.window-control i {
  font-size: 18px;
}

.close-button {
  top: 0px;
  right: 0px;
}

.maximize-button {
  top: 0px;
  right: 40px;
}

.minimize-button {
  top: 0px;
  right: 80px;
  border-bottom-left-radius: 4px;
}

md-divider {
  width: 1px;
  height: 35px;
  background: #2C2541;
}

.toolbar-subheader {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo-icon {
  margin-left: 10px;
}

.player-logo {
  max-height: 48px;
}

.player-username {
  color: #7550b9;
  margin-right: 6px;
}

.player-game {
  color: #7550b9;
  margin-left: 6px;
}

.player-viewers {
  float: right;
  margin-right: 10px;
  display: flex;
  align-items: center;

  i {
    color: red;
  }
}