<div class="toolbar">
  <div class="toolbar-topline">
    <h1></h1>
    <button class="window-control minimize-button" (click)="minimizeWindow()">
      <span class="material-icons">keyboard_arrow_down</span>
    </button>
    <button
      class="window-control fullscreen-button"
      (click)="enterFullscreen()"
    >
      <span class="material-icons">{{
        isFullscreen ? 'fullscreen_exit' : 'fullscreen'
      }}</span>
    </button>
    <button class="window-control maximize-button" (click)="maximizeWindow()">
      <span class="material-icons">keyboard_arrow_up</span>
    </button>
    <button class="window-control close-button" (click)="closeWindow()">
      <span class="material-icons">close</span>
    </button>
  </div>

  <div class="toolbar-content">
    <div class="d-flex h-100 w-100 align-items-center">
      <button class="toolbar-button menu-button" (click)="collapseSidebar()">
        <span class="material-icons">{{
          sidebarCollapsed ? 'format_indent_increase' : 'format_indent_decrease'
        }}</span>
      </button>

      <span class="material-icons logo-icon" [hidden]="playerLogo !== null">{{
        logo
      }}</span>
      <img
        src="{{ playerLogo | twScaleImage: '48':'48' }}"
        class="player-logo"
        [hidden]="playerLogo === null"
      />
      <div layout="column" class="toolbar-title">
        <span
          class="toolbar-header"
          [ngClass]="playerUsername === null ? undefined : 'two-rows'"
          >{{ title }}</span
        >
        <span
          class="toolbar-subheader two-rows"
          [hidden]="playerUsername === null"
        >
          <span class="player-username two-rows">{{ playerUsername }}</span>
          playing <span class="player-game two-rows">{{ playerGame }}</span>
        </span>
      </div>

      <div
        class="toolbar-button login-button"
        (click)="router.navigate(['/login'])"
      >
        <div class="login-button-content">
          <span class="material-icons">{{
            login.logued ? '' : 'person_outline'
          }}</span>
          <span class="login-username">{{ login.username }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
