<div class="row">
  <div class="cotainer w-100">
    <h4 class="sidebar-header row align-items-center">BROWSE</h4>
    <div class="sidebar-menu-item row align-items-center" (click)="router.navigate(['/games'])">
      <span class="material-icons">games</span>Games
    </div>
    <div class="sidebar-menu-item row align-items-center" (click)="router.navigate(['/channels/top'])">
      <span class="material-icons">videocam</span>Channels
    </div>
    <div class="sidebar-menu-item row align-items-center" [hidden]="!logued" (click)="router.navigate(['/channels/following'])">
      <span class="material-icons">remove_red_eye</span>Following
    </div>
  </div>
</div>
