<div class="row sidebar-container">
  <div class="sidebar-menu-item row align-items-center" (click)="router.navigate(['/games'])">
    <span class="material-icons menu-item-icon">games</span>
  </div>
  <div class="sidebar-menu-item row align-items-center" (click)="router.navigate(['/channels/top'])">
    <span class="material-icons menu-item-icon">videocam</span>
  </div>
  <div class="sidebar-menu-item row align-items-center" [hidden]="!logued" (click)="router.navigate(['/channels/following'])">
    <span class="material-icons menu-item-icon">star</span>
  </div>
  <div class="sidebar-menu-item row align-items-center" (click)="router.navigate(['/settings'])">
    <span class="material-icons menu-item-icon">settings</span>
  </div>
</div>
