/* You can add global styles to this file, and also import other style files */
@import '~normalize-scss/sass/normalize';

$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

@import '~bootstrap-scss/bootstrap.scss';
@import '~simplebar/dist/simplebar.css';

$roboto-font-path: '~roboto-fontface/fonts/';
@import '~roboto-fontface/css/roboto/sass/roboto-fontface-regular.scss';

html,
body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  color: #dad8de;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

button {
  outline: none !important;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.form-control {
  background-color: #dad8de !important;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: rgba(117, 80, 185, 0.25) !important;
  box-shadow: 0 1px 1px rgba(117, 80, 185, 0.25) inset, 0 0 8px rgba(117, 80, 185, 0.25) !important;
  outline: 0 none !important;
}

.custom-control-label:before {
  background-color: rgb(24, 24, 27) !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: rgb(24, 24, 27) !important;
  border-color: #bf94ff !important;
}

.custom-control-input:active ~ .custom-control-label::before {
  background-color: rgb(24, 24, 27) !important;
}

/** focus shadow pinkish **/
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none !important;
}
.custom-control {
  position: relative !important;
  display: flex !important;
  min-height: 1.5rem !important;
  margin-bottom: 20px !important;
}

.custom-input {
  display: flex !important;
  flex-direction: column !important;
  padding-left: 0px !important;
}

.input-label {
  text-align: left !important;
  font-size: 25px !important;
  margin-bottom: 0px !important;
}

.custom-control-label {
  position: relative !important;
  margin-bottom: 0 !important;
  vertical-align: top !important;
  font-size: 20px !important;
  padding-left: 0.75em !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.custom-control-label::before,
.custom-control-label::after {
  top: 0 !important;
  width: 2rem !important;
  height: 2rem !important;
}
