/* You can add global styles to this file, and also import other style files */
@import '~normalize-scss/sass/normalize';

$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';

@import '~bootstrap-scss/bootstrap.scss';
@import '~simplebar/dist/simplebar.css';

$roboto-font-path: '~roboto-fontface/fonts/';
@import '~roboto-fontface/css/roboto/sass/roboto-fontface-regular.scss';

html, body {
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #221F2A;
  color: #dad8de;
  height: 100%;
  width: 100%;
  text-align: center;
  vertical-align: middle;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.container {
  padding-right: 0px;
  padding-left: 0px;
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.form-control {
  background-color: #dad8de;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
  border-color: rgba(117, 80, 185, 0.25); 
  box-shadow: 0 1px 1px rgba(117, 80, 185, 0.25) inset, 0 0 8px rgba(117, 80, 185, 0.25); 
  outline: 0 none;
}

.custom-control-label:before{
  background-color:#dad8de;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color:#7550b9;
  border-color: #3A1F64;
}

.custom-control-input:active~.custom-control-label::before{
  background-color:#7550b9;
}

/** focus shadow pinkish **/
.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
  box-shadow: 0 0 0 1px #dad8de, 0 0 0 0.2rem rgba(117, 80, 185, 0.25); 
}