.game-list-wrapper {
  overflow-y: auto;
  max-height: 100%;
  height: 100%;
  display: flex;
}
.game-list {
  background: black;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
}

.game-item {
  cursor:  pointer;
  margin: 5px;
  background: black;
  transition: border-color 0.4s ease;
  display: flex;
  flex: 15%;
  position: relative;
  border: 1px solid rgb(24, 24, 27);

  .game-name {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s ease, opacity 0.4s ease;
    background: rgb(24, 24, 27);
    color: #bf94ff;
  }

  &:hover {
    border-color: #bf94ff;;

    .game-name {
      visibility: visible;
      opacity: 1;
    }
  }
}

.game-cover {
  width: 100%;
  height: 100%;
}

.game-content {
  height: 100%;
}

.game-name {
  width: 100%;
  color: #DAD8DE;
  height: 25px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  
  span {
    display: flex;
    height: 25px;
    font-size: 14px;
    align-items: center;
    justify-content: center;
  }

  .material-icons {
    font-size: 16px;
    margin-right: 5px;
  }
}

.fetching-more {
  background: black;
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #DAD8DE;
}