<div infinite-scroll (scrolled)="onScrolled()" class="game-list row">

  <div class="game-item col-2" (click)="router.navigate(['/channels/'+game.id])" *ngFor="let game of games">
    <div class="game-content">
      <img class="game-cover" src="{{game.box_art_url | twScaleImage:'285':'380'}}">
    </div>
    <div class="game-viewers"><span><span class="material-icons">people</span>N/A</span></div>
  </div>

  <div class="fetching-more" [hidden]="!fetchingMore">
    <div clas="circle"></div>
  </div>
</div>