<div infinite-scroll (scrolled)="onScrolled()" class="game-list row">

  <div class="game-item col-2" (click)="router.navigate(['/channels/'+game.game._id])" *ngFor="let game of games">
    <div class="game-content">
      <img class="game-cover" src="{{game.game.box.large}}">
    </div>
    <div class="game-viewers"><span><span class="material-icons">people</span>{{game.viewers | number}}</span></div>
  </div>

  <div class="fetching-more" [hidden]="!fetchingMore">
    <div clas="circle"></div>
  </div>
</div>